
body {
    margin: 0;
    padding: 100%;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
}

nav ul {
    background: white;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 40%;
    text-align: right;
    padding: 2em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}



